<a href="https://colab.research.google.com/github/lipsa-byte/hello-world/blob/master/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.0.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [0]:
import pandas as pd

In [0]:
data={
    'col1':[1,2,3,4],
    'col2':[5,6,7,8]
}

In [0]:
new_lib=pd.DataFrame(data,index=['row1','row2','row3','row4'])

In [0]:
new_lib

      col1  col2
row1     1     5
row2     2     6
row3     3     7
row4     4     8

In [0]:
new_lib.loc['row1']

col1    1
col2    5
Name: row1, dtype: int64

In [0]:
url='https://raw.githubusercontent.com/lipsa-byte/hello-world/master/python%20basics'

In [0]:
dataframe=pd.read_csv(url)

In [13]:
dataframe

Empty DataFrame
Columns: [print("hello world")]
Index: []

In [15]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 1 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   print("hello world")  0 non-null      object
dtypes: object(1)
memory usage: 0.0+ bytes

In [16]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.18.3)

In [0]:
import numpy as np

In [0]:
lis1=[1,2,3]
x=np.array(lis1)

In [0]:
lis2=[2,4,6]
y=np.array(lis2)

In [21]:
x+y

array([3, 6, 9])

In [22]:
x*y

array([ 2,  8, 18])

In [23]:
np.zeros((5,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [28]:
np.ones((5,4),6)

TypeError: ignored

In [25]:
np.full((2,3),8)

array([[8, 8, 8],
       [8, 8, 8]])

In [26]:
np.arange(6)

array([0, 1, 2, 3, 4, 5])

In [29]:
np.arange(6).reshape((2,3))

array([[0, 1, 2],
       [3, 4, 5]])

In [0]:
x=np.array([[1,2,3],[4,5,6],[7,8,9]])

In [0]:
z=x[-3:]

In [45]:
print(z)

[[1 2 3]
 [4 5 6]
 [7 8 9]]